body {
font: 'Trebuchet MS';
margin: 0;
font-size: medium
}
header {
background-color: #4CAF50;
color: white;
text-align: center;
}
footer {
background-color: #222;
color: white;
text-align: center;
width: 100%;
bottom: 0;
}
h2 {
color:darkslategray;
text-align: center;
}
p {
text-align: justify;    
}